.header {
    height: 100px;
    background-color: blue;
}
.navbar{
    align-items: center;
}
.navbar-table{
    width: 100%;
    margin: auto;
}
.navbar-link {
    padding:1%;
    text-align: center;
}

.carousel-item img{
    width: 100%;
    object-fit: cover;
    
}

